# Archivos de sesión y temporales
*.log
*.sql
*.state
*.db
*.bnk
.cache/
.DS_Store
*__pycache__/
*.pyc

# Datos locales/personales
config/awesome/secrets.lua
config/spotify/Users/
config/mpd/database
config/mpd/log

# Datos locales/personales
config/mpd/pid
config/mpd/state
config/awesome/ui/notifs/notif-center/dont-disturb/disturb_status
# config/ncmpcpp/config

# Claude / OpenCode (config compartida para IA - ver opencode.json)
# opencode.json

# Si no quieres que otros descarguen tus imágenes (descomentar)
# fondos/
