@theme "/dev/null"

configuration {
    font: "JetBrainsMono Nerd Font 10";
}

* {
    background: #0a1419b3;
    foreground: #e2e8f0;
    accent: #06b6d4;
    surface: #162026cc;
    muted: #666c79;
    rad: 14px;
    rad-sm: 10px;
    background-color: transparent;
    text-color: var(foreground);
}

window {
    transparency: "real";
    location: north west;
    anchor: north west;
    x-offset: 64px;
    y-offset: 15px;
    width: 280px;
    height: calc(100% - 30px);
    border-radius: var(rad);
    border: 1px;
    border-color: #06b6d433;
    background-color: var(background);
}

mainbox {
    children: [ listview ];
    spacing: 12px;
    padding: 16px;
    background-color: transparent;
}

listview {
    columns: 1;
    spacing: 4px;
    scrollbar: true;
    background-color: transparent;
}

element {
    padding: 4px;
    border-radius: var(rad-sm);
    background-color: transparent;
    border: 1px;
    border-color: transparent;
}

element selected {
    background-color: #16202680;
    text-color: var(accent);
    border-color: var(muted);
}

element-text {
    text-color: inherit;
    padding: 4px;
}

scrollbar {
    handle-color: var(muted);
    handle-width: 4px;
    border-radius: 2px;
}

error-message {
    background-color: var(background);
    text-color: var(accent);
    border-radius: var(rad);
    padding: 40px;
}
