@theme "/dev/null"

configuration {
    font: "JetBrainsMono Nerd Font 10";
}

* {
    background: #0a1419b3;
    foreground: #e2e8f0;
    accent: #06b6d4;
    surface: #162026cc;
    muted: #666c79;
    rad: 14px;
    rad-sm: 10px;
    background-color: transparent;
    text-color: var(foreground);
}

window {
    transparency: "real";
    location: north west;
    anchor: north west;
    x-offset: 64px;
    y-offset: 15px;
    width: 280px;
    height: calc(100% - 30px);
    border-radius: var(rad);
    border: 1px;
    border-color: #06b6d433;
    background-color: var(background);
}

mainbox {
    children: [ inputbar, listview ];
    spacing: 10px;
    padding: 14px;
    background-color: transparent;
}

inputbar {
    enabled: true;
    children: [ entry ];
    padding: 6px 10px;
    border-radius: var(rad-sm);
    background-color: var(surface);
    border: 1px;
    border-color: #06b6d440;
}

entry {
    placeholder: "Buscar...";
    placeholder-color: var(muted);
    background-color: transparent;
    text-color: var(foreground);
}

listview {
    columns: 1;
    spacing: 1px;
    scrollbar: true;
    background-color: transparent;
}

element {
    padding: 4px 8px;
    border-radius: var(rad-sm);
    background-color: transparent;
    border: 1px;
    border-color: transparent;
}

element selected {
    background-color: #16202680;
    text-color: var(accent);
    border-color: var(muted);
}

element-text {
    text-color: inherit;
    padding: 3px;
}
